# Application
    NODE_ENV=development
    PORT=3000

# Database
MYSQL_HOST=127.0.0.1
MYSQL_PORT=5001
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DB_NAME=study_mate_db
TYPEORM_LOGGING=false

# JWT
JWT_SECRET=your-jwt-access-secret-key
JWT_REFRESH_SECRET=your-jwt-refresh-secret-key

# CORS
CORS_ORIGIN=http://localhost:5173
